body{
	margin: 0px;
	padding: 0px;
}

.section {
	min-height:600px;
	overflow: hidden;
	margin-bottom:10px;
}
.content {
    width: 25%;
    margin: 10px 0px 0px 10px;
    overflow: hidden;
    margin: 10px 0px 0px 95px;
    float:left;
}

.logo {
	background-color:#2C5CF8;
	width:25%;
	height:100px;
	float:left;
	margin: 0px 0px 0px 0px;
}

.menu {
	background-color:#2C5CF8;
	width:73%;
	height:100px;
	float:right;
	margin: 0px 0px 0px 0px;
}

.banner {
	background-color:#2C5CF8;
	min-height: 500px;
	margin-top: 108px;
}